/*.pyc/open.png/blink.png
/MouseUI.pyc
/MouseController.pyc
/open.png
/blink.png
/FocusFrame.pyc
/BlinkDetector.pyc
/MovingFrame.pyc
/mouse/MouseController.pyc
/mouse/MouseUI.pyc
/mouse/MovingFrame.pyc
/mouse/__init__.pyc
/mouse/FocusFrame.pyc
/initialisation/Capturer.pyc
/initialisation/open.png
/initialisation/blink.png
/initialisation/TextDisplay.pyc
/initialisation/InitialisationControl.pyc
/initialisation/__init__.pyc
/capture_info.txt
/initialisation/capture_info.txt
